<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('模板属性弹框列表')" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="templateAttr-form">
					<div class="select-list">
						<ul>
							<li>
								模板属性：<input type="text" name="name"/>
								<input id="tplId" name="tplId" type="hidden" th:value="${template.id}"/>
								<input id="tplName" name="tplName"  type="hidden" th:value="${template.name}"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
		var prefix = ctx + "cms/templateAttr";

		$(function() {
		    var options = {
		        url: prefix + "/list",
		        sortName: "createTime",
		        sortOrder: "desc",
		        modalName: "模板实例弹框",
		        columns: [{
		            checkbox: true
		        },
		        {
		            field: 'blockName',
		            title: '名称'
		        }]
		    };
		    $.table.init(options);
		});
	</script>
</body>
</html>