<!--用电弹框-->
<div class="sdphBox ElectricityBox hide">
    <form class="layui-form oh">
        <div class="layui-form-item fr">
            <div class="layui-inline">
                <label class="layui-form-label">查询</label>
                <div class="layui-input-inline">
                    <!--<select name="interest" lay-filter="aihao" lay-ignore id="ydph"-->
                    <!--style="font-size: 0.83vw;background: none;color: #fff;border: 1px solid #03d8d6;line-height: 3.2vh;height: 3.2vh;width: 12.1vw">-->
                    <!--&lt;!&ndash;<option value="">请选择</option>&ndash;&gt;-->
                    <!--&lt;!&ndash;<option value="0">2019年10月</option>&ndash;&gt;-->
                    <!--<option value="11">11月用电量</option>-->
                    <!--<option value="12">12月用电量</option>-->
                    <!--</select>-->

                    <input type="text" class="layui-input" id="ydphtkTime"  autocomplete="off" >
                </div>


                <!--<button type="button" class="layui-btn" lay-submit="" lay-filter="demo1"-->
                <!--onclick="NHJG.getydph(document.getElementById('test3').value)">-->
                <!--<i class="iconfont icon-sousuo"></i>查询-->
                <!--</button>-->
            </div>
        </div>
    </form>
    <div class="lineBlue mb15"></div>
    <div class="sdphListBox" style="height:78vh;" id="sdphListBoxYd">
        <div class="sdphTitle" th:each="AupRecordElectric:${list}" th:if="${AupRecordElectric.cachelevel eq '1'}">
            <h4 th:text="${AupRecordElectric.cachename}">华中农大110V变电站</h4>
            <p>
                <span>出线电量(度)<i th:text="${AupRecordElectric.readusenumber}"></i></span>
                <span>汇总电量(度)<i th:text="${AupRecordElectric.calcusenumber}"></i></span>
                <span>耗损率<i th:text="${AupRecordElectric.wastepercent}+'%'"></i></span>
            </p>
        </div>
        <div class="layui-row sdphList electricityList">
            <div class="layui-col-xs3 layui-col-sm3 layui-col-md3" th:each="AupRecordElectric:${list}"
                 th:if="${AupRecordElectric.cachelevel eq '2'}">
                <div class="list pr">
                    <div class="tt txtC" th:text="${AupRecordElectric.cachename}"></div>
                    <ul class="pw15 ph30 oh">
                        <li>
                            <p>月用电量(度)</p>
                            <h4 class="clRed" th:text="${AupRecordElectric.readusenumber}"></h4>
                        </li>
                        <li>
                            <p>耗损率</p>
                            <h4 class="clRed" th:text="${AupRecordElectric.wastepercent}+'%'"></h4>
                        </li>
                        <li>
                            <p>包含楼栋</p>
                            <h4 class="clYellow" th:text="${AupRecordElectric.calccount}"></h4>
                        </li>
                        <li>
                            <p>楼栋用电总和</p>
                            <h4 class="clYellow" th:text="${AupRecordElectric.calcusenumber}"></h4>
                        </li>
                    </ul>
                    <span class="pa more"
                          th:onclick="NHJG.detailElectricity('[(${AupRecordElectric.id})]')">楼栋用电详情</span>
                </div>
            </div>
        </div>
    </div>
</div>