<!-- 维修服务 人工巡检 -->
<!--
<dl class="fl">
	<dt>
		<a th:href="@{/screen/ryxj/index?menuCode=wxfw}">维修服务</a>
	</dt>
	<dd>
		已完成 <span id="wxxj_ywc">2</span>
	</dd>
	<dd>
		维修总数 <span id="wxxj_wxzs">2</span>
	</dd>
</dl>
<dl class="fr">
	<dt>
		<a th:href="@{/screen/ryxj/index?menuCode=rgxj}">人工巡检</a>
	</dt>
	<dd>
		任务总数 <span id="wxxj_rwzs">2</span>
	</dd>
	<dd>
		待巡检数 <span id="wxxj_djzs">2</span>
	</dd>

</dl>-->


<ul class="zhswList flex-between">
	<li><a th:href="@{/screen/ryxj/index?menuCode=rgxj}">人工巡检</a></li>
	<li><a href="">维修服务</a></li>
	<li><a href="">计量收费</a></li>
</ul>