<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('巡检日志列表')" />
	<th:block th:include="include :: layout-latest-css" />
	<th:block th:include="include :: ztree-css" />
</head>
<body class="gray-bg">
     <div class="ui-layout-west">
		<div class="box box-main">
			<div class="box-header">
				<div class="box-title">
					<i class="fa icon-grid"></i> 部门
				</div>
				<div class="box-tools pull-right">
				    <a type="button" class="btn btn-box-tool" href="#" onclick="dept()" title="管理部门"><i class="fa fa-edit"></i></a>
					<button type="button" class="btn btn-box-tool" id="btnExpand" title="展开" style="display:none;"><i class="fa fa-chevron-up"></i></button>
					<button type="button" class="btn btn-box-tool" id="btnCollapse" title="折叠"><i class="fa fa-chevron-down"></i></button>
					<button type="button" class="btn btn-box-tool" id="btnRefresh" title="刷新部门"><i class="fa fa-refresh"></i></button>
				</div>
			</div>
			<div class="ui-layout-content">
				<div id="tree" class="ztree"></div>
			</div>
		</div>
	</div>
	<div class="ui-layout-center">
	    <div class="container-div">
	        <div class="row">
	            <div class="col-sm-12 search-collapse">
	                <form id="formId">
	                    <input type="hidden" id="deptId" name="params[deptId]">
			            <input type="hidden" id="parentId" name="params[parentId]">
	                    <div class="select-list">
	                        <ul>
	                            <li>
	                                <p>类型：</p>
	                                <select name="params[cardType]" th:with="type=${@dict.getType('patrol_card_type')}">
	                                    <option value="">所有</option>
	                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
	                                </select>
	                            </li>
	                            <li>
	                                <p>线名：</p>
	                                <input type="text" name="params[cardLine]"/>
	                                <!-- select name="params[cardLine]" th:with="type=${@dict.getType('patrol_line_type')}">
	                                    <option value="">所有</option>
	                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
	                                </select -->
	                            </li>
	                            <li>
	                                <p>二维码：</p>
	                                <input type="text" name="params[logQrcode]"/>
	                            </li>
	                            <li>
	                                <p>里程：</p>
	                                <input type="text" name="params[cardMileage]"/>
	                            </li>
	                            <li>
	                                <p>状态：</p>
	                                <select name="logIssue">
	                                    <option value="">所有</option>
	                                    <option value="1">异常</option>
                                        <option value="0">正常</option>
	                                </select>
	                            </li>
								<li class="select-time">
									<p>巡检时间： </p>
									<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
									<span>-</span>
									<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
								</li>
	                            <li>
	                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i> 搜索</a>
	                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i> 重置</a>
	                            </li>
	                        </ul>
	                    </div>
	                </form>
	            </div>

	            <div class="btn-group-sm" id="toolbar" role="group">
	                <a class="btn btn-primary single disabled" onclick="$.operate.editTab()" shiro:hasPermission="patrol:log:edit">
	                    <i class="fa fa-edit"></i> 详情
	                </a>
	                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="patrol:log:remove">
	                    <i class="fa fa-remove"></i> 删除
	                </a>
	            </div>
	            <div class="col-sm-12 select-table table-striped">
	                <table id="bootstrap-table" data-mobile-responsive="true"></table>
	            </div>
	        </div>
	    </div>
	</div>
    <th:block th:include="include :: footer" />
	<th:block th:include="include :: layout-latest-js" />
	<th:block th:include="include :: ztree-js" />
    <script th:inline="javascript">
        var removeFlag = [[${@permission.hasPermi('patrol:log:remove')}]];
        var cardTypeDatas = [[${@dict.getType('patrol_card_type')}]];
        //var cardLineDatas = [[${@dict.getType('patrol_line_type')}]];
        var cardSideDatas = [[${@dict.getType('patrol_side_type')}]];
        var prefix = ctx + "patrol/log";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "巡检记录",
                openTabTitle: "巡检记录详情",
                sortName: "create_time",
                sortOrder: "desc",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'logId', 
                    visible: false
                },
                {
                    field : 'logCard', 
                    visible: false
                },
                {
                    field : 'card.deptName', 
                    title : '所属部门',
		            sortable: true,
					visible: false
                },
                {
                    field : 'card.cardType', 
                    title : '类型',
		            sortable: true,
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(cardTypeDatas, value);
                    }
                },
                {
                    field : 'logQrcode', 
                    title : '二维码'
                },
                {
                    field : 'card.cardLine', 
                    title : '线名',
					visible: false/*,
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(cardLineDatas, value);
                    }*/
                },
                {
                    field : 'card.cardMileage', 
                    title : '里程',
					visible: false
                },
                {
                    field : 'card.cardSide', 
                    title : '行别',
					visible: false,
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(cardSideDatas, value);
                    }
                },
                {
                    field : 'logCoordinate', 
                    title : '坐标',
					visible: false
                },
                {
                    field : 'logAddress', 
                    title : '地点'
                },
                {
                    field : 'logIssue', 
                    title : '状态',
		            sortable: true,
                    formatter: function(value, row, index) {
                    	if (value == "0") {
                    		return '<span class="badge badge-primary">正常</span>';
                    	} else if (value == "1") {
                    		return '<span class="badge badge-danger">异常</span>';
                    	}
                       	return "";
                    }
                },
		        {
		            field: 'createTime',
		            title: '巡检时间',
		            sortable: true
		        },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="$.operate.editTab(\'' + row.logId + '\')"><i class="fa fa-edit"></i>详情</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.logId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
            
            var panehHidden = false;
		    if ($(this).width() < 769) {
		        panehHidden = true;
		    }
		    $('body').layout({ initClosed: panehHidden, west__size: 185 });
		    queryDeptTree();
        });
        
        function queryDeptTree()
		{
			var url = ctx + "system/dept/treeData";
			var options = {
		        url: url,
		        expandLevel: 1,
		        onClick : zOnClick
		    };
			$.tree.init(options);
			
			function zOnClick(event, treeId, treeNode) {
				$("#deptId").val(treeNode.id);
				$("#parentId").val(treeNode.pId);
				$.table.search();
			}
		}
		
		$('#btnExpand').click(function() {
			$._tree.expandAll(true);
		    $(this).hide();
		    $('#btnCollapse').show();
		});
		
		$('#btnCollapse').click(function() {
			$._tree.expandAll(false);
		    $(this).hide();
		    $('#btnExpand').show();
		});
		
		$('#btnRefresh').click(function() {
			queryDeptTree();
		});
    </script>
</body>
</html>