<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新闻公告')"/>
    <th:block th:include="include :: summernote-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-npInfo" th:object="${npInfo}">
        <input id="infoId" name="infoId" type="hidden" th:field="*{infoId}"/>
        <input id="infoType" name="infoType" type="hidden" th:field="*{infoType}"/>
        <div class="form-group">
            <label class="col-sm-2 control-label">标题：</label>
            <div class="col-sm-10">
                <input id="title" name="title" th:field="*{title}" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">内容：</label>
            <div class="col-sm-10">
                <input id="content" name="content" th:field="*{content}" type="hidden">
                <div id="editor" class="summernote"></div>
            </div>
        </div>
    </form>
</div>

<th:block th:include="include :: footer"/>
<th:block th:include="include :: summernote-js"/>

<script th:src="@{/bus/napo/js/info.js}"></script>
<script type="text/javascript">
    var prefix = ctx + "np/info";

    $(function () {
        initSummernote(190, "content");
    });

    $("#form-npInfo").validate({
        rules:{
            hot:{
                digits:true
            }
        },
        focusCleanup: true
    });

    function isAdd() {
        return $("#infoId").val() ? false : true;
    }

    function submitHandler() {
        if ($.validate.form()) {
            var sHTML = $('.summernote').summernote('code');
            $("#content").val(sHTML);
            $.operate.save({
                url: prefix + (isAdd() ? "/add" : "/edit"),
                data: $('#form-npInfo').serialize(),
                success: function (result, _option) {
                    if (isAdd()) {
                        if (result.data.infoId) {
                            top.formmsg = result.msg;
                            location.href = prefix + "/edit/" + result.data.infoId;
                        } else {
                            $.modal.msgError("没有返回数据：infoId");
                        }
                    } else {
                        $.modal.msgSuccess(result.msg);
                    }
                }
            });
        }
    }
</script>
</body>
</html>