<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('吃美食')"/>
    <th:block th:include="include :: summernote-css"/>
    <th:block th:include="include :: jasny-bootstrap-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-npInfo" th:object="${npInfo}">
        <input id="infoId" name="infoId" type="hidden" th:field="*{infoId}"/>
        <input id="infoType" name="infoType" type="hidden" th:field="*{infoType}"/>
        <input id="mainPic" name="mainPic" type="hidden" th:field="*{mainPic}"/>
        <input id="addInfo1" name="addInfo1" type="hidden" th:field="*{addInfo1}"/>
        <div class="form-group">
            <label class="col-sm-2 control-label">标题：</label>
            <div class="col-sm-10">
                <input id="title" name="title" th:field="*{title}" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">简介：</label>
            <div class="col-sm-10">
                <input id="subTitle" name="subTitle" th:field="*{subTitle}" class="form-control" type="text">

            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">热度：</label>
            <div class="col-sm-10">
                <input id="hot" name="hot" th:field="*{hot}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">内容：</label>
            <div class="col-sm-10">
                <input id="content" name="content" th:field="*{content}" type="hidden">
                <div id="editor" class="summernote"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">封面：</label>
            <div class="col-sm-10">
                <div class="fileinput fileinput-new" style="text-align:center;">
                    <div class="fileinput-preview thumbnail iconImage img-preview-self"
                         data-trigger="fileinput">
                        <img id="picImg" th:src="@{*{mainPic}}">
                    </div>
                    <div>
                        <span class="btn btn-primary btn-file">
                            <span class="fileinput-new ">选择封面</span>
                            <input type="file" id="file" name="file" onchange="uploadPic()"/>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">实景数据：</label>
            <div class="col-sm-10">

                <div>
                    <span class="btn btn-primary btn-file">
                        <span class="fileinput-new ">选择实景</span>
                        <input type="file" id="file1" name="file" onchange="uploadLiveAction()"
                               accept=“application/zip,application/x-zip,application/x-zip-compressed”/>

                    </span>
                    &nbsp;&nbsp;<a th:if="${npInfo.addInfo2}" th:href="@{*{addInfo2}}" target="_blank">全景预览</a>
                </div>
            </div>
        </div>
    </form>
</div>

<th:block th:include="include :: footer"/>
<th:block th:include="include :: summernote-js"/>

<script th:src="@{/bus/napo/js/info.js}"></script>
<script type="text/javascript">
    var prefix = ctx + "np/info";

    $(function () {
        initSummernote(180, "content");
    });

    function uploadPic() {
        uploadCoverImage("file", "picImg", "mainPic");
    }

    /**
     * 上传实景
     */
    function uploadLiveAction() {
        uploadZip("file1", "addInfo1");
    }

    $("#form-npInfo").validate({
        rules: {
            hot: {
                digits: true
            }
        },
        focusCleanup: true
    });

    function isAdd() {
        return $("#infoId").val() ? false : true;
    }

    function submitHandler() {
        if ($.validate.form()) {
            var sHTML = $('.summernote').summernote('code');
            debugger;
            $("#content").val(sHTML);
            console.log($('#form-npInfo').serialize())
            $.operate.save({
                url: prefix + (isAdd() ? "/add" : "/edit"),
                data: $('#form-npInfo').serialize(),
                success: function (result, _option) {
                    if (result.data.infoId) {
                        top.$.modal.msgSuccess(result.msg);
                        location.href = prefix + "/edit/" + result.data.infoId;
                    } else {
                        $.modal.msgError("没有返回数据：infoId");
                    }
                }
            });
        }
    }
</script>
</body>
</html>