<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改泵房点位')" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-point-edit" th:object="${aupPumpPoint}">
        <input id="id" name="id" th:field="*{id}" type="hidden">
        <input id="pumpId" name="pumpId" th:field="*{pumpId}" type="hidden">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">泵组名称：</label>
                    <div class="col-sm-8">
                        <input name="pointName" th:field="*{pointName}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">市政压力<br>进口压力：</label>
                    <div class="col-sm-8">
                        <input name="szyl" th:field="*{szyl}" class="form-control" type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">入网ip：</label>
                    <div class="col-sm-8">
                        <input name="ip" th:field="*{ip}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">泵数：</label>
                    <div class="col-sm-8">
                        <input name="punpcount" th:field="*{punpcount}" class="form-control" type="text">
                    </div>
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">基础属性名：</label>
                        <div class="col-sm-8">
                            <input name="attrName" th:field="*{attrName}" class="form-control" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">基础属性位号：</label>
                        <div class="col-sm-8">
                            <input name="attrValue" th:field="*{attrValue}" class="form-control" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">变频：</label>
                        <div class="col-sm-8">
                            <input name="bp" th:field="*{bp}" class="form-control" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">工频：</label>
                        <div class="col-sm-8">
                            <input name="gp" th:field="*{gp}" class="form-control" type="text">
                        </div>
                    </div>
                </div>
            </div>
    </form>
</div>
<th:block th:include="include :: footer" />
<script type="text/javascript">
    var prefix = ctx + "aupipes/point";
    $("#form-point-edit").validate({
        focusCleanup: true
    });

    function isAdd() {
        return $("#id").val() ? false : true;
    }

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save({
                url: prefix + (isAdd() ? "/add" : "/edit"),
                data: $('#form-point-edit').serialize(),
                success: function(result, _option) {
                    if (isAdd()) {
                        if (result.data.id) {
                            top.formmsg = result.msg;
                            location.href = prefix + "/edit/" + result.data.id;
                        } else {
                            $.modal.msgError("没有返回数据：pumId");
                        }
                    } else {
                        $.modal.msgSuccess(result.msg);
                    }
                }
            });
        }
    }
</script>
</body>
</html>