<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('预警信息统计列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>当前报警数：</p>
                                <input type="text" name="pubcurtatal"/>
                            </li>
                            <li>
                                <p>报警总数：</p>
                                <input type="text" name="pubtatal"/>
                            </li>
                            <li>
                                <p>百分比：</p>
                                <input type="text" name="pubpercent"/>
                            </li>
                            <li>
                                <p>名称：</p>
                                <input type="text" name="name"/>
                            </li>
                            <li>
                                <p>样式：</p>
                                <input type="text" name="icon"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="aupipes:yjtables:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="aupipes:yjtables:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="aupipes:yjtables:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="aupipes:yjtables:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table" data-mobile-responsive="true"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('aupipes:yjtables:edit')}]];
        var removeFlag = [[${@permission.hasPermi('aupipes:yjtables:remove')}]];
        var tidDatas = [[${@dict.getType('null')}]];
        var pubcurtatalDatas = [[${@dict.getType('null')}]];
        var pubtatalDatas = [[${@dict.getType('null')}]];
        var pubpercentDatas = [[${@dict.getType('null')}]];
        var nameDatas = [[${@dict.getType('null')}]];
        var iconDatas = [[${@dict.getType('null')}]];
        var prefix = ctx + "aupipes/yjtables";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "预警信息统计",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'tid', 
                    title : 'id',
                    visible: false
                },
                {
                    field : 'pubcurtatal', 
                    title : '当前报警数'
                },
                {
                    field : 'pubtatal', 
                    title : '报警总数'
                },
                {
                    field : 'pubpercent', 
                    title : '百分比'
                },
                {
                    field : 'name', 
                    title : '名称'
                },
                {
                    field : 'icon', 
                    title : '样式'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.tid + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.tid + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>